<div
  class="padding-container card-container"
  (window:resize)="onResize()"
>
  <div class="carousel-container">
    <div class="pan-container pointer"
         (mouseenter)="mouseHover()"
         (panstart)="onPanStart()"
         (panend)="onPanEnd($event)"
         (panmove)="onPanMove($event)">
      <div id="pagination">
        <div class="round-container" *ngFor="let slide of slideArray; let i = index">
          <div class="round-active round"
               [ngClass]="activeSlide === (i) ? 'round-active': 'round-empty'">
          </div>
        </div>
      </div>
      <div id="on-hover">
        <div id="left-arrow-container" class="arrow-container">
          <img src="https://res.cloudinary.com/dqismn81g/image/upload/left-arrow_ifj76w.svg" draggable="false" class="arrow" (click)="moveLeft()">
        </div>
        <div id="right-arrow-container" class="arrow-container">
          <img src="https://res.cloudinary.com/dqismn81g/image/upload/v1517782845/right-arrow_w8iwin.svg" draggable="false" class="arrow" (click)="moveRight()">
        </div>
      </div>
    </div>
    <div
      [style.width]="slideCount * 100 + '%'"
      [style.transform]="'translateX(' + deltaX + 'px)'"
      [ngClass]="animation ? 'animation': null">

      <app-responsive-image
        *ngFor="let image of images;let i = index"
        [aspectRatio]="ratio"
        [xsmallSize]="xsmallSize + 'vw'"
        [smallSize]="smallSize + 'vw'"
        [mediumSize]="mediumSize + 'vw'"
        [largeSize]="largeSize + 'vw'"
        [xlargeSize]="xlargeSize + 'vw'"
        [index]="i"
        [loadImage]="loadImage"
        [image]="image"></app-responsive-image>

    </div>
  </div>
</div>
