//
.carousel-container {
  // hide other slide outside of the view window
  overflow: hidden;

  position: absolute;
  top: 0;
}

.padding-container {
  position: relative
}


.animation {
  // Animate
  transition: transform 300ms cubic-bezier( 0.5, 0, 0.5, 1 );
}

.pointer {
  cursor: pointer;
}
