<div
  style="touch-action: pan-y pan-x"
  [style.paddingTop]="calculatedRatio"  class="padding-container">
  <div class="carousel-container" >

    <div

      style="background-color: red"
      [style.width]="slideCount * 100 + '%'"
         class="pointer"
         [style.transform]="'translateX(' + deltaX + 'px)'"
         [ngClass]="animation ? 'animation': null"
         (panstart)="onPanStart()"
         (panend)="onPanEnd($event)"
         (panmove)="onPanMove($event)">

        <!--[loadImage]="loadImage"-->
      <app-responsive-image
        *ngFor="let image of images;let i = index"
        style="background-color: red"
        [aspectRatio]="ratio"
        [index]="i"
        [image]="image"></app-responsive-image>

    </div>
  </div>
</div>
