<div
  [style.paddingTop]="calculatedRatio" style="background-color: blue;user-select: none;-webkit-user-drag: none;touch-action: none;" class="padding-container">
  <div
    class="carousel-container"
    style="background-color: red">

    <div [style.width]="slideCount * 100 + '%'"
         class="pointer"
         [style.transform]="'translateX(' + deltaX + 'px)'"
         [ngClass]="animation ? 'animation': null"
         (panstart)="onPanStart()"
         (panend)="onPanEnd($event)"
         (panmove)="onPanMove($event)">

      <app-responsive-image
        style="background-color: blue"
        [aspectRatio]="ratio"
        *ngFor="let image of images"
        [image]="image"></app-responsive-image>

    </div>
  </div>
</div>
