<div fxLayout="row" class="has-slider" style="background-color: red; height: auto">
  <div fxFlex class="slider" style="background-color: yellow"
       [style.transform]="'translateX('+ deltaX +'px)'"
       [ngClass]=" animation ? 'animation': ''"
       (panstart)="onPanStart($event)"
       (panend)="onPanEnd($event)"
       (panmove)="onPanMove($event)">

    <app-image
      image="logo_mobylis_ummmtg.jpg"
      [lazyLoad]="false"
      [ratio]="2269 +':367'"></app-image>
  </div>
</div>


<!--<div fxFlex-->
     <!--style="background-color: blue" class="has-slider">-->
  <!--&lt;!&ndash;[style.transform]="'translateX('+ transformPercentage +'%)'"&ndash;&gt;-->
  <!--<div-->
    <!--class="slider"-->
    <!--style="background-color: red;"-->
    <!--[style.transform]="'translateX('+ deltaX +'px)'"-->
    <!--[ngClass]=" animation ? 'animation': ''"-->
    <!--(panstart)="onPanStart($event)"-->
    <!--(panend)="onPanEnd($event)"-->
    <!--(panmove)="onPanMove($event)"-->
  <!--&gt;-->

    <!--<app-image style="background-color: red"-->
               <!--image="logo_mobylis_ummmtg.jpg"-->
               <!--[lazyLoad]="false"-->
               <!--ratio="2269:367"></app-image>-->
  <!--</div>-->
<!--</div>-->


<!--<div fxLayout="row"-->
<!--fxLayoutAlign.gt-xs="center center"-->
<!--fxLayout.xs="column">-->
<!--<div fxFlex >-->
<!--&lt;!&ndash;<app-image image="Signature_xt56sy.pdf" ratio="841:595"></app-image>&ndash;&gt;-->
<!--</div>-->
<!--<div style="height: 1em"></div>-->
<!--&lt;!&ndash;<div fxFlex>&ndash;&gt;-->
<!--&lt;!&ndash;<responsive-image image="sample.jpg" ratio="864:576"></responsive-image>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div style="height: 1em"></div>-->
<!--<div fxFlex>-->
<!--<app-image image="Photo_kbyuqw.jpg" ratio="1184:1765"></app-image>-->
<!--</div>-->
<!--</div>-->

<!--<app-image-->
<!--image="logo_mobylis_ummmtg.jpg"-->
<!--[lazyLoad]="false"-->
<!--ratio="2269:367"></app-image>-->
<!--<app-image-->
<!--image="logo_mobylis_ummmtg.jpg"-->
<!--[lazyLoad]="false"-->
<!--ratio="2269:367"></app-image>-->
