<!--&lt;!&ndash; app/app.component.html &ndash;&gt;-->
<!--<div>-->
<!--<h4>Swipe Avatars with HammerJS</h4>-->
<!--&lt;!&ndash; loop each avatar in our avatar list &ndash;&gt;-->
<!--<div class="swipe-box" *ngFor="let avatar of avatars; let idx=index" (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)" (panUp)="panUp($event.type)" [class.visible]="avatar.visible" [class.hidden]="!avatar.visible">-->
<!--<div>-->
<!--<img [src]="avatar.image" [alt]="avatar.name">-->
<!--</div>-->
<!--<div>-->
<!--<a class="header">{{avatar.name}}</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="location">({{x}}, {{y}})</div>
<div
  style=" width: 100%; background-color: blue;overflow: hidden" class="has-slider">
  <div
    class="slider"
    [style.transform]="'translateX('+ transformPercentage +'%)'"
       (panstart)="onPanStart($event)"
       (panend)="onPanEnd($event)"
       (panmove)="onPan($event)"
       >
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_4dfa47a05152487fb3bc45ca2ec8fd1e.png"
         width="1000px">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/tumblr_njkn6kp0kE1qgsw73o1_500.png"
         width="1000px">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_761db9a0c113407f924a824ed173ed26.png"
         width="1000px">
  </div>
</div>

<div class="has-slider">
  <div class="slider">
    <div class="slider-panel">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_4dfa47a05152487fb3bc45ca2ec8fd1e.png"
           width="1000px"  style="margin: 0;padding: 0;background-color: red;width: 1000px">
    </div>
    <div class="slider-panel">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_4dfa47a05152487fb3bc45ca2ec8fd1e.png"
           width="1000px"  style="margin: 0;padding: 0;background-color: red;width: 1000px">
    </div>
    <div class="slider-panel">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/40288/65d721_4dfa47a05152487fb3bc45ca2ec8fd1e.png"
           width="1000px"  style="margin: 0;padding: 0;background-color: red;width: 1000px">
    </div>
  </div>
</div>
