// Calcul the ratio
@mixin aspect-ratio() {
  position: relative;

  > img {
    position: absolute;

    // Vertical and horizontal align
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
  }
}

.aspect-ratio {
  @include aspect-ratio();
}

img {
  float: left;
}
