// Calcul the ratio
@mixin aspect-ratio() {
  position: relative;

  > img {
    position: absolute;

    // Vertical and horizontal align
    top: 0; left: 0;
  }
}

.aspect-ratio {
  @include aspect-ratio();
}


