  <!--style="background-color: blue"-->
<div
  class="aspect-ratio"
  [style.paddingBottom]="calculatedRatio"
>
  <img
  *ngIf="lazyLoad"
  [useSrcset]="true"
  [lazyLoad]="sourceSet"
  [offset]="offset"
  sizes="
  (max-width: {{smallBreakpoint}}) {{xsmallSize}},
  (max-width: {{mediumBreakpoint}}) {{smallSize}},
  (max-width: {{largeBreakpoint}}) {{mediumSize}},
  (max-width: {{xlargeBreakpoint}}) {{largeSize}},
  {{xlargeSize}}"
  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <img
    *ngIf="!lazyLoad"
    [srcset]="sourceSet"
    sizes="
  (max-width: {{smallBreakpoint}}) {{xsmallSize}},
  (max-width: {{mediumBreakpoint}}) {{smallSize}},
  (max-width: {{largeBreakpoint}}) {{mediumSize}},
  (max-width: {{xlargeBreakpoint}}) {{largeSize}},
  {{xlargeSize}}"
    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
</div>
