
<div id="item-container">
  <div class="item">
    <app-carousel ratio="3:2"
                  sizeUnit="vw"
                  xsmallSize="95"
                  smallSize="48"
                  [mediumSize]="31 + (1/3)"
                  [largeSize]="23"
                  [xlargeSize]="23"
                  [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>

  </div>
  <div class="item">
    <app-carousel ratio="3:2"
                  xsmallSize="95"
                  smallSize="48"
                  [mediumSize]="31 + (1/3)"
                  [largeSize]="23"
                  [xlargeSize]="23"
                  [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>
  </div>
  <div class="item">
    <app-carousel ratio="3:2"
                  xsmallSize="95"
                  smallSize="48"
                  [mediumSize]="31 + (1/3)"
                  [largeSize]="23"
                  [xlargeSize]="23"
                  [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>
  </div>
  <div class="item">
    <app-carousel ratio="3:2"
                  xsmallSize="95"
                  smallSize="48"
                  [mediumSize]="31 + (1/3)"
                  [largeSize]="23"
                  [xlargeSize]="23"
                  [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>
  </div>
  <div class="item">
    <app-carousel ratio="3:2"
                  xsmallSize="95"
                  smallSize="48"
                  [mediumSize]="31 + (1/3)"
                  [largeSize]="23"
                  [xlargeSize]="23"
                  [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>
  </div>
</div>

