<div class="super-header"></div>
<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex>
    <div style="height: 100%" class="center">
      <app-image image="logo_mobylis_ummmtg.jpg" [lazyLoad]="false"></app-image>
    </div>
  </div>
  <!--<div fxFlex  fxHide.xs>-->
  <!--<app-image image="logo_mobylis_ummmtg.jpg" largeSize="20em" [lazyLoad]="false"></app-image>-->
  <!--</div>-->
  <div fxFlex>
    <div  class="center" style="height: 100%; width: 100%">
      <mat-card style="width: 100%">
        <input class="search-input" placeholder="Rechercher" width="100%" >
      </mat-card>
    </div>
  </div>
</div>
<!--<div class="menu" style="vertical-align: middle">-->
<!--<a routerLink="/" routerLinkActive="active">-->

<!--</a>-->
<!--<div class="search-bar">-->
<!--<mat-card style="background-color: red">-->
<!--<input class="search-input" placeholder="Rechercher">-->
<!--</mat-card>-->
<!--<div style="">-->
<!--</div>-->
<!--<i class="fas fa-search"></i>-->
<!--</div>-->
<!--</div>-->

<div class="sub-menu">

</div>
