@import '../../styles.scss';

.super-header{
  background-color: #24303D;
  position: relative;
  height: 1em;
}

.search-input{
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
  z-index: 100;

  border: none;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

}
.svg-container {
  width: 2.5em;
  margin-right: 1em;
  cursor: pointer;
}

.svg-item:active {
  transform: translateY(2px);
}

.search-input:hover{
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.search-input:focus{
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.search-input:active{
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.input{
  border: none;
  margin: 0.9em 0.5em 1em 1.2em;
  float: left;
  font-size: 1.1em;
  width: 100%;
}

.input:focus{
  outline: none;
}

.container {
  /* We first create a flex layout context */
  display: flex;
  align-items: center;

}

.input-container {
  /* We first create a flex layout context */
  display: flex;
  align-items: center;
}
/* X Small screens */
@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  .container {
    flex-direction: column;
    > div {
      width: 100vw;
    }
    .search-input {
      width: 60vw;
    }
  }
}

/* Small screens */
@media all and (min-width: 600px) and (max-width: 960px) {
  /* We tell both sidebars to share a row */
  .container {
    flex-direction: row;
    > .search-input {
      width: 50vw;
      margin-right: 1em;
    }
    > .logo{
      width: 50vw;
    }
  }
}

/* Medium screens */
@media all and (min-width: 960px) and (max-width: 1280px){
  /* We tell both sidebars to share a row */
  .container {
    flex-direction: row;
    > .logo  {
      width: 25vw;
      margin-left: 1em;
    }
    > .search-input  {
      width: 55vw;
      max-width: 35em;
      margin-right: 3em;
      margin-left: 2em;
    }
  }
}

/* Large screens */
@media all and (min-width: 1280px) and (max-width: 1919px){
  /* We tell both sidebars to share a row */
  .container {
    flex-direction: row;
    > .logo  {
      width: 20vw;
      margin-left: 2em;
    }
    > .search-input  {
      width: 60em;
      //margin-right: 15em;
      margin-left: 2.5em;
      max-width: 30em;
    }
  }
}

/* Large screens */
@media all and (min-width: 1919px) {
  /* We tell both sidebars to share a row */
  .container {
    flex-direction: row;
    > .logo  {
      width: 15vw;
      margin-left: 2em;
    }
    > .search-input  {
      width: 30em;
      margin-left: 2em;
      max-width: 30em;
    }
  }
}


