<div class="super-header"></div>
<div class="menu">
  <a routerLink="/" routerLinkActive="active" >
    <app-image image="logo_mobylis_jynibn.jpg" largeSize="20em" ></app-image>
  </a>
  <a routerLink="/siege" routerLinkActive="active">Sièges</a>
  <a routerLink="/table" routerLinkActive="active">Tables</a>
  <a routerLink="/accessoires" routerLinkActive="active">Accessoires</a>
  <a routerLink="/prestation" routerLinkActive="active">Prestations</a>
  <a routerLink="/contact" routerLinkActive="active">Nous Contacter</a>
</div>
