@import '../../carousel-product.variable';
@import '../../../../../../styles';

.card-container {
  padding-top: (($ratioHeight / $ratioWidth) * 100) +%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.1);
}
/* X Small screens */
@media (max-width: $xSmallBreakpoint){
  /* We tell both sidebars to share a row */
  .card-container {
    width: $xSmallSize;
  }
}

/* Small screens */
@media (min-width: $xSmallBreakpoint) and (max-width: $smallBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $smallSize;
    padding-top: (($ratioHeight / $ratioWidth) * 100 * 100/$smallSize) +%;
  }
}

/* Medium screens */
@media (min-width: $smallBreakpoint) and (max-width: $mediumBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $mediumSize;
  }
}

/* Large screens */
@media (min-width: $mediumBreakpoint) and (max-width: $largeBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $largeSize;
  }
}

/* X Large screens */
@media (min-width: $largeBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $xLargeSize;
  }
}
