<div id="menu-bar-container">

<div class="category single-word"
     routerLink="/siege" routerLinkActive="active">
    Sièges
  </div>
  <div class="category"
       routerLink="/accessoire" routerLinkActive="active">
    Accessoires érgonomiques
  </div>
  <div class="category"
       routerLink="/table" routerLinkActive="active">
    Bureaux réglables en hauteur
  </div>
  <div class="category"
       routerLink="/bureaux" routerLinkActive="active">
    Mobilier de Bureau
  </div>
  <div class="category single-word" id="last-tab"
       routerLink="/prestation" routerLinkActive="active">
    Prestation
  </div>
  <div class="category contact"
       routerLink="/contact" routerLinkActive="active">
    Nous Contacter
  </div>
</div>

<div style="background-color: red"></div>
