@import '../../carousel.variable';
@import '../../../../styles';

.card-container {
  padding-top: (($ratioHeight / $ratioWidth) * 100) +%;
}
/* X Small screens */
@media (max-width: $xsmallBreakpoint){
  /* We tell both sidebars to share a row */
  .card-container {
    width: $xsmallSize;
  }
}

/* Small screens */
@media (min-width: $xsmallBreakpoint) and (max-width: $smallBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $smallSize;
  }
}

/* Medium screens */
@media (min-width: $smallBreakpoint) and (max-width: $mediumBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $mediumSize;
  }
}

/* Large screens */
@media (min-width: $mediumBreakpoint) and (max-width: $largeBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $largeSize;
  }
}

/* X Large screens */
@media (min-width: $largeBreakpoint) {
  /* We tell both sidebars to share a row */
  .card-container {
    width: $xlargeSize;
  }
}
