
.pointer {
  cursor: pointer;
}

// Show navigation element only when hover
// Restrict to desktop only
@media (hover: hover) {
  .pan-container:hover #on-hover {
    display: flex;
  }
}

#on-hover {
  display: none;
  height: 100%;
  width: 100%;
}

.arrow-container {
  width: 20%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#right-arrow-container {
  position: absolute;
  right: 0;

  background: linear-gradient(to left, rgba(0, 0, 0, 0.25),
    rgba(255, 0, 0, 0));
}

#left-arrow-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25),
    rgba(255, 0, 0, 0));
}

.arrow {
  width: 45%;
  cursor: pointer;
}

#pagination {
  position: absolute;

  align-self: flex-end;
  padding-bottom: 0.4em;
}

.round-container {
  display: inline-block
}

.round {
  width: 0.6em;
  height: 0.6em;

  margin-right: 0.2em;
  margin-left: 0.2em;

  border-radius: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

}

.round-active {
  background-color: white;
}

.round-empty {
  background-color: black;
  opacity: 0.3;
}

