<app-menu></app-menu>

<!--<app-carousel></app-carousel>-->


<demo-one></demo-one>
<!--<div fxLayout="row"-->
<!--fxLayoutAlign.gt-xs="center center"-->
<!--fxLayout.xs="column">-->
<!--<div fxFlex >-->
<!--&lt;!&ndash;<app-image image="Signature_xt56sy.pdf" ratio="841:595"></app-image>&ndash;&gt;-->
<!--</div>-->
<!--<div style="height: 1em"></div>-->
<!--&lt;!&ndash;<div fxFlex>&ndash;&gt;-->
<!--&lt;!&ndash;<responsive-image image="sample.jpg" ratio="864:576"></responsive-image>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div style="height: 1em"></div>-->
<!--<div fxFlex>-->
<!--<app-image image="Photo_kbyuqw.jpg" ratio="1184:1765"></app-image>-->
<!--</div>-->
<!--</div>-->

<!--<app-image image="Signature_xt56sy.pdf" largeSize="100vw" [lazyLoad]="true"></app-image>-->
<!--<app-image image="sample.jpg" largeSize="100vw" [lazyLoad]="true"></app-image>-->
<!--<app-image image="sample.jpg" largeSize="100vw" [lazyLoad]="true"></app-image>-->
<!--<app-image image="sample.jpg" [lazyLoad]="true"></app-image>-->
<!--<app-image image="sample.jpg" [lazyLoad]="true"></app-image>-->
<!--<app-image image="Photo_kbyuqw.jpg" largeSize="100vw" [lazyLoad]="true"></app-image>-->
<!--<img class="cld-responsive"-->
<!--data-src="https://res.cloudinary.com/demo/image/upload/w_auto,dpr_auto,c_scale/woman.jpg"-->
<!--src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"  />-->

<!--<div style="height: 10em;width: 10em;background-color: blue">-->
<!--<cl-image-->
<!--public-id="car_lady_dog.jpg"-->
<!--cloud-name="demo"-->
<!--quality="auto"-->
<!--width="auto"-->
<!--crop="scale"-->
<!--fetch_format="auto"-->
<!--dpr="auto">-->
<!--</cl-image>-->
<!--</div>-->


<!--<app-menu></app-menu>-->


<!--<div style="width: 10em; height: 10em;background-color: blue">-->
<!--</div>-->
<!--<div style="width: 10em; height: 10em;background-color: red">-->
<!--<app-image style="width: 10em; height: 10em" [src]="'test'"></app-image>-->
<!--</div>-->
<!--<div>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->

<!--<div id="footer-color">-->
<!--<div class="ui two column container grid footer-link-font">-->

<!--<div class="column middle aligned " id="column-position">-->
<!--<a routerLink="/" routerLinkActive="active">Accueil</a> <br>-->
<!--<a routerLink="/siege" routerLinkActive="active">Sièges</a><br>-->
<!--<a routerLink="/table" routerLinkActive="active">Tables</a><br>-->
<!--<a routerLink="/accessoires" routerLinkActive="active">Accessoires</a><br>-->
<!--<a routerLink="/prestation" routerLinkActive="active">Prestations</a><br>-->
<!--<a routerLink="/contact" routerLinkActive="active">Nous Contacter</a>-->
<!--</div>-->

<!--<div class="column middle aligned">-->
<!--<a routerLink="/" routerLinkActive="active">Qui sommes nous</a> <br>-->
<!--<a routerLink="/mentionslegales" routerLinkActive="active">Mentions légales</a><br>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="bottom"></div>-->
