<app-menu></app-menu>

<!--<div style="margin-top: 10em"></div>-->


<app-carousel ratio="16:8" [images]="[
'logo_mobylis_ummmtg.jpg',
'Photo_kbyuqw.jpg',
'sample.jpg',
'436810_exn0ex.jpg'
]"></app-carousel>

<div class="container">

  <div class="sec1">
    first-section
    <div style="background-color: black">TEST</div>
  </div>
  <div class="sec2">
    second-section
  </div>
  <div class="sec3">
    third-section
  </div>

</div>

<div class="container">

  <div class="sec1">
    first-section
    <div style="background-color: black">TEST</div>
  </div>
  <div class="sec2">
    second-section
  </div>
  <div class="sec3">
    third-section
  </div>

</div>
