<img
  *ngIf="lazyLoad"
  [lazyLoad]="sourceSet"
  [useSrcset]="true"
  sizes="
  (max-width: {{smallBreakpoint}}) {{smallSize}},
  (max-width: {{mediumBreakpoint}}) {{mediumSize}},
  (max-width: {{largeBreakpoint}}) {{largeSize}},
  {{largeSize}}"
  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <!--src="https://res.cloudinary.com/eeeps/image/upload/f_auto,q_auto,w_51/{{image}}"-->
<img
  *ngIf="!lazyLoad"
  [srcset]="sourceSet"
  sizes="
  (max-width: {{smallBreakpoint}}) {{smallSize}},
  (max-width: {{mediumBreakpoint}}) {{mediumSize}},
  (max-width: {{largeBreakpoint}}) {{largeSize}},
  {{largeSize}}"
  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
