#footer {
  height: 6em;
  margin-top: 2em;

  color: whitesmoke;
  font-size: 2em;
  font-family: 'Reem Kufi', sans-serif;

  background-color: #24303D;

  display: flex;
  justify-content: center;
  align-items: center;
}
