/* You can add global styles to this file, and also import other style files */

// --------------------------------------------------
// Breakpoint
// --------------------------------------------------
$xsmallBreakpoint: 599px;
$smallBreakpoint: 960px;
$mediumBreakpoint: 1280px;
$largeBreakpoint: 1920px;

