/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #24303D;
  div {
    background-color: white;
  }
}
*:focus {
  outline: none;
}

.center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.center-h {
  display: flex;
  justify-content: center; /* align horizontal */
}

.center-v {
  display: flex;
  align-items: center; /* align vertical */
}

